[submodule "shared/third_party/codex"]
	path = shared/third_party/codex
	url = https://github.com/NightVibes33/codex.git
	shallow = true
[submodule "shared/third_party/ghostty"]
	path = shared/third_party/ghostty
	url = https://github.com/ghostty-org/ghostty.git
	shallow = true
[submodule "ThirdParty/SideStore/AltSign"]
	path = ThirdParty/SideStore/AltSign
	url = https://github.com/SideStore/AltSign.git
	branch = master
[submodule "ThirdParty/EmexDE/Source"]
	path = ThirdParty/EmexDE/Source
	url = https://github.com/emexlab/Nyxian.git
	branch = main
	shallow = true
[submodule "ThirdParty/SideStore/NativeDependencies/libplist"]
	path = ThirdParty/SideStore/NativeDependencies/libplist
	url = https://github.com/libimobiledevice/libplist.git
[submodule "ThirdParty/SideStore/NativeDependencies/libimobiledevice-glue"]
	path = ThirdParty/SideStore/NativeDependencies/libimobiledevice-glue
	url = https://github.com/libimobiledevice/libimobiledevice-glue.git
[submodule "ThirdParty/SideStore/NativeDependencies/libtatsu"]
	path = ThirdParty/SideStore/NativeDependencies/libtatsu
	url = https://github.com/libimobiledevice/libtatsu.git
[submodule "ThirdParty/SideStore/NativeDependencies/libusbmuxd"]
	path = ThirdParty/SideStore/NativeDependencies/libusbmuxd
	url = https://github.com/libimobiledevice/libusbmuxd.git
[submodule "ThirdParty/SideStore/NativeDependencies/libimobiledevice"]
	path = ThirdParty/SideStore/NativeDependencies/libimobiledevice
	url = https://github.com/libimobiledevice/libimobiledevice.git
[submodule "ThirdParty/SideStore/Unicorn"]
	path = ThirdParty/SideStore/Unicorn
	url = https://github.com/mahee96/unicorn.git

[submodule "ThirdParty/bad_query"]
	path = ThirdParty/bad_query
	url = https://github.com/forcequitOS/bad_query.git
	shallow = true
